:root {
 --main-bg-color: #EDC7B7;
 --accent-color: #edb7c2;
 --main-font: 'Poppins', sans-serif;
}

body {
    background-color: var(--main-bg-color);
    position: relative;
    padding: 4% 2% 4% 2%;
    font-family: var(--main-font);
}

.outer-flex {
 display: flex;
 width: 100%;
 position: relative;
}
.load-screen {
    width: 100%;
    height: 100%;
    z-index: -999;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    background-color: var(--main-bg-color);
}

.birthday-text {
    color: #00aec5;
    text-transform: uppercase;
    margin-top: 25%;
    letter-spacing: 2px;
    font-size: 4rem;
    z-index: -999;
    opacity: 0;
    position: relative;
}
.loaded {
    z-index: 998;
    opacity: 1;
    transition: opacity 2.5s ease;
}

.birthday-text:hover {
    cursor: pointer
}

.birthday-text:after {
    cursor: pointer;
    content: '';
    display: inline-block;
    width: 700px;
    top: -45px;
    height: 8px;
    position: relative;
    background-color: #fff;
    transform:scale(0, 1);
    transition: all 0.5s ease;
}
.birthday-text:hover:after {
    cursor: pointer;
    content: '';
    height: 8px;
    transform: scale(1,1);
    background-color: #fff;
    transform-origin: center;
    transition: all 1s ease;
}


.description-box {
    /* Insert chosen google font */
    height: 100%;
    width: 100%;
    z-index: -999;
    opacity: 0;
    position: absolute;
}
.description-box h1 {
    text-align: center;
    color: white;
}

.description-text{
    background-color: var(--accent-color);
    border-radius: 10px;
    padding: 20px;
    font-size: 1.5rem;
    margin-top: 10%;
    text-align: justify;
    line-height: 30px;
    width: 50%;
    margin-left: 25%;
    color: white;
}

.back-button {
    height: 50px;
    width: 50px;
    margin: 5% 0 0 10%;
    opacity: 0;
    transform: translate(0px);

}

.icon {
    height: inherit;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.5s ease-out;
}
.icon:hover{
    transform: translate(-50px, 0px);
    transition: transform 0.5s ease-out;
}



.song-grid {
    display: grid;
    flex-basis: 100%;
    opacity: 0;
    z-index: -100;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: 200px;
}
.show {
    z-index: 900;
    opacity: 1;
    transition: opacity 1s ease;
}
.rec {
    height: 100%;
}
.song {
    height:  100%;
    width: 100%;
    position: relative;
}

.song img {
    height: 100%;
    width: 100%;
}

.all-my-life {
    object-fit: cover;
    object-position: 0%;
    width: 178%;
}

.song-title {
    position: absolute;
    height: 100%;
    z-index: 950;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.song-title:hover {
    opacity: 1
}

.song-overlay {
    position: absolute;
    opacity: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 998;
    overflow: hidden;
    transition: opacity 1s ease;
    cursor: pointer;

}

.song-overlay:hover {
    opacity: 0.8;
    transition: opacity .5s ease;
}
.overlay-text {
    text-align:center;
    overflow: hidden;
    position: absolute;
    color: white;
    height: 100%;
    width:100%;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    transform: translate(0, 200px);
    z-index: 999;
    font-size: 1.5rem;
    transition: transform .5s ease, opacity .5s ease;
}

.overlay-text-show {
    opacity: 1;
    transform: translate(0, 50px);
    transition: transform .5s ease, opacity .5s ease;
}

.credit {
    position: relative;
    display: block;
    top: 200px;
    width: 100%;
    text-align: center;

}
